@font-face {
    src: url("/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    src: url("/fonts/Raleway-Medium.ttf");
}

@font-face {
    src: url("/fonts/ProximaNova-Bold.ttf");
}

@font-face {
    src: url("/fonts/ProximaNova-Light.ttf");
}

.pane-container-white {
    -fx-effect: dropshadow(two-pass-box, #64b09a, 14, 0, -1, 1);
    -fx-background-color: white;
    -fx-background-radius: 30;
}

.pane-cash-type {
    -fx-background-color: linear-gradient(to bottom right, #95ce4d, #71c0aa);
    -fx-background-radius: 20;
}

.pane-bank-type {
    -fx-background-color: linear-gradient(to bottom right, #4bd5c6, #30a5d0);
    -fx-background-radius: 20;
}

.label-header {
    -fx-font-family: 'Raleway';
    -fx-font-size: 48px;
}

.label-header-type {
    -fx-font-family: 'Raleway';
    -fx-font-weight: bold;
    -fx-font-size: 38px;
}

.label-info {
    -fx-font-family: 'Raleway';
    -fx-font-size: 22px;
}

.label-sum {
    -fx-font-family: 'Proxima Nova Rg';
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}
