@font-face {
    src: url("/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    src: url("/fonts/Raleway-Medium.ttf");
}

.label-attention-medium {
    -fx-font-family: 'Raleway';
    -fx-font-size: 64px;
}

.label-attention-bold {
    -fx-font-family: 'Raleway';
    -fx-font-weight: bold;
    -fx-font-size: 64px;
}

.label-small {
    -fx-font-family: 'Raleway';
    -fx-font-size: 32px;
}

.label-small-bold {
    -fx-font-family: 'Raleway';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}