* {
    -white: #FEFEFE; /* R:254 G:254 B:254 ( надписи, кнопки, панель расчета) */
    -cream: #f9e8c2; /* R:249 G:232 B:194 (кнопки, надпись 11 слайд) */
    -grey: #727271; /* R:114 G:114 B:113 (кнопки) */
    -dark-grey: #383838; /* R:56 G:56 B:56 (фон картинок кофе) */
    -black: #000000; /* R:0 G:0 B:0 (фон, надписи) */
}