@import "root.css";

.lbl-info {
    -fx-background-color: -grey;
    -fx-background-radius: 5;
    -fx-text-fill: -white;
    -fx-font-size: 20;
    -fx-text-alignment: center;
    -fx-font-family: 'HelveticaNeue LT CYR 57 Cond';
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.btn-start {
    -fx-font-size: 48;
    -fx-font-weight: bold;
}